// Header 
div(class="app scroll" id="app")
  .container
    div(class="header-area d-flex align-items-center justify-content-between")
      a(href="index.html" class="logo fs-3 text-decoration-none text-light fw-bold") Special Design
      <i class="fa-solid fa-bars toggle fa-shake"></i>
      +list
    div(class="introduction-text position-absolute text-center text-light")
          h2(class="fs-1 fw-bold") We Are #[span Creative] Agency
          p(class="text-white-50 lh-lg") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quam porro perferendis quasi optio modi.