// Skills Box
div(class="box")
  h2 html
  .progressbar
    span(data-width="95%")
div(class="box")
  h2 Css
  .progressbar
    span(data-width="85%")
div(class="box")
  h2 javaScript
  .progressbar
    span(data-width="75%")
div(class="box")
  h2 bootstrap
  .progressbar
    span(data-width="90%")
div(class="box")
  h2 sass
  .progressbar
    span(data-width="80%")
div(class="box")
  h2 pugJs
  .progressbar
    span(data-width="85%")
